.products {
    padding: 30px 30px;
    display: flex;
    .left {
      flex: 1;
      position: sticky;
      height: 100%;
      top: 10px;
  
      .filterItem{
        margin-bottom: 30px;
  
        h2{
          font-weight: 400;
          margin-bottom: 20px;
        }
  
        .inputItem{
          margin-bottom: 10px;
          label{
            margin-left: 10px;
          }
        }
      }
    }
    
    .right {
      flex: 3;
      .imgContainer{
        background: url("https://media.giphy.com/media/gKH5Tia3vony6WpFAR/giphy.gif");
        background-size:contain;
        width: 100%;
        max-height: 300px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        .catImg{
          width: 350px;
          max-height: 300px;
        }
      }
    }
  }